.transition, .btn, .field__label, .field__input {
  -webkit-transition: all .1s ease;
          transition: all .1s ease;
}

.section-contact {
  padding: 1.5em;
  text-align: center;
}

.btn {
  position: relative;
  display: inline-block;
  margin: 1em;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.btn:hover {
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
}
.btn:active {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
}
.btn:focus {
  outline: none;
}
.btn--basic {
  background-color: #e3eacc;
  color: #455a00;
}
.btn--ghost {
  background-color: transparent;
  border: 1px solid #739600;
  color: #739600;
}
.btn--dark {
  background-color: #455a00;
  color: white;
}
.btn--action {
  background-color: #81452B;
  color: white;
}
.btn--danger {
  background-color: #ff0000;
  color: white;
}
.btn--link {
  background-color: transparent;
  color: #5786bd;
}
.btn--dropdown {
  padding-right: 3em;
}
.btn--dropdown:before {
  content: '';
  right: 24px;
  top: 22px;
  width: 2px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.btn--dropdown:after {
  content: '';
  right: 20px;
  top: 22px;
  width: 2px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-group {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  padding: 0;
  margin: 0;
}
.btn-group__item {
  float: left;
}
.btn-group__item:first-child .btn {
  border-radius: 30px 0 0 30px;
}
.btn-group__item .btn {
  border-radius: 0;
  margin: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-group__item:last-child .btn {
  border-radius: 0 30px 30px 0;
  border-right: 0;
}

* {
  box-sizing: border-box;
}

.transition, .btn, .field__label, .field__input {
  -webkit-transition: all .1s ease;
          transition: all .1s ease;
}

.clearfix:after, .container:after {
  content: "";
  display: table;
  clear: both;
}

.container-contact {
  display: block;
  margin: 10px auto;
  max-width: 700px;
}

.field {
  position: relative;
  display: inline-block;
  float: left;
  //min-height: 59px;
}
.field .helptext {
  font-size: 14px;
  color: #888;
  font-style: italic;
  margin: 0;
  padding: 10px;
}
.field--quarter {
  width: 25%;
}
.field--half {
  width: 50%;
}
.field--half.form-action {
  border-top-color: transparent;
  padding-top: 10px;
}
.field--three-quarter {
  width: 75%;
}
.field--block {
  width: 100%;
}
.field--block.form-action {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #B69565;
}
.field__label {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 12px;
  color: #888;
}
.field__input {
  padding: 25px 10px 10px;
  width: 100%;
  background-color: #f2f2f2;
}
.field .btn {
  float: right;
  font-size: 11px;
  padding: 1em 2em;
  margin: 0;
}

.input {
  outline: 0;
  border: 1px solid #DAC99D;
}
.input:focus {
  background-color: white;
  border-color: #81452B;
}
.input:focus ~ label {
  color: #81452B;
}
.input--textarea {
  max-width: 100%;
  height: 100px;
  max-height: 100px;
}
.input--select {
  padding-right: 20px;
}

.label--required:after {
  content: "*";
  color: tomato;
  margin-left: 5px;
}