@keyframes logodown {
    from {margin-top: -75px;}
    to {margin-top: 0;}
}

@-webkit-keyframes logodown {
    from {margin-top: -75px;}
    to {margin-top: 0;}
}

@-moz-keyframes logodown {
    from {margin-top: -75px;}
    to {margin-top: 0;}
}

.jumbotron {
    min-height: 100vh;
    background: url("../img/jumbo.png") no-repeat bottom center fixed; 
    -webkit-background-size: cover;
       -moz-background-size: cover;
           -o-background-size: cover;
                background-size: cover;
}

.jumbo-social-container {
    height: 100px;
    background: -webkit-linear-gradient(rgba(36, 36, 36, 0.5), rgba(130, 195, 219, 0.3), rgba(196, 41, 86, 0));
    background: -moz-linear-gradient(rgba(36, 36, 36, 0.5), rgba(130, 195, 219, 0.3), rgba(196, 41, 86, 0));
    background: -o-linear-gradient(rgba(36, 36, 36, 0.5), rgba(130, 195, 219, 0.3), rgba(196, 41, 86, 0));
}

.jumbo-social-container:hover {
    background: -webkit-linear-gradient(rgba(36, 36, 36, 0.8), rgba(130, 195, 219, 0.5), rgba(196, 41, 86, 0));
    background: -moz-linear-gradient(rgba(36, 36, 36, 0.8), rgba(130, 195, 219, 0.5), rgba(196, 41, 86, 0));
    background: -o-linear-gradient(rgba(36, 36, 36, 0.8), rgba(130, 195, 219, 0.5), rgba(196, 41, 86, 0));
}

#jumbo-logo-container img {
    -webkit-animation-name: logodown;
       -moz-animation-name: logodown;
                animation-name: logodown;
    -webkit-animation-duration: 3s;
       -moz-animation-duration: 3s;
                animation-duration: 3s;
}

#last-games-container {
    position: absolute;
    top: 65vh;
    width: 100%
}

#last-games {
    margin: 0 auto;
    position: relative;
    width: 900px;
    max-width: 100%;
    text-align: center;
}

#last-games img {
    opacity: 0.4;
    max-width: 100%;
}

#last-games img:hover {
    opacity: 1;
}

.social-jumbo {
    color: #fff;
    font-size: 1.875em !important;  /*30 / 16 = 1.875*/
    padding-top: 5px;
    padding-left: 10px;
}

a .social-jumbo {
    color: #fff !important;
}