* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Nashville";
	src: url("../fonts/NASHVILL.TTF") format("truetype");
}
@font-face {
	font-family: "GPLTypeWriter";
	src: url("../fonts/gtw.otf") format("truetype");
}

body {
    background-image: url("../img/fons1.jpg");
    background-repeat: repeat-y;
    background-size:100% 100px;
}

a {
	text-decoration: none;
}

p {
	margin: 15px 0;
}

.correction {
	visibility: hidden;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

#responsive-social {
	display: none;
}

#menu-tablet {
	display: none;
}

#outer-menu {
	display: none;
}

#anchor {
	background-color: #D8B166;
}

.menu {
	padding: 35px 0;
}

.menu ul {
	list-style: none;
	width: 100%;
}

.menu li {
	display: inline;
	font-size: 2.5em; /*40 * 16 = 2.5*/
	text-align: center;
	border-right: solid;
	border-right-width: 1px;
	border-right-color: #222;
}

.menu li.last-column {
	border-right: none;
}

.menu li a {
	color: #222;
}

.menu li a:hover {
	color: #81452B;
}

#menu-fixer {
	height: 15vh;
	visibility: hidden();
	display: none;
}

.social-container {
	text-align: center;
}

.social-menu {
    color: #222;
    font-size: 1.875em !important; /*30 / 16 = 1.875*/
    padding-top: 5px;
    padding-left: 10px;
}

a .social-menu {
    color: #222;
}

.lang-flag {
	padding-top: 10px;
	width: 35px;
	opacity: 0.5;
}

.lang-flag:hover {
	opacity: 1;
}

#body {
	padding-top: 50px;
}

.content {
	font-family: "GPLTypeWriter";
	margin: 15px auto;
	width: 100%;
	max-width: 900px;
	min-height: 90vh;
	background-image: url("../img/pergami.jpg");
	background-repeat: repeat-y;
    background-size:100% 100px;
	padding: 25px;
	border-radius: 5px;
}

.nashville {
	font-family: "Nashville";
}

.section.first {
	margin: 0; 
}

.section {
	margin: 50px 0; 
}

.section p {
	margin: 15px 0;
}

.section p.first {
	margin: 0 0 15px 0;
}

.sub-section {
	margin: 0 0 25px 0;
}

.sub-section p {
	margin: 0;
	padding-right: 10px;
}

.employee-img {
	float: right;
	margin: 0 0 25px 25px;
}

.catalog-view {
	background-color: #2F2F2F;
	color: #FFF;
	border-radius: 5px;
	padding: 5px;
	opacity: 0.9;
}

.catalog-view:hover {
	opacity: 1;
}

.catalog-view a {
	color: #FFF;
}

.game-thumbnail {
	max-width: 100%
}

#slider1_container {
	position: relative; 
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 300px;
}

#slides {
	cursor: move; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 100%; 
	height: 300px; 
	overflow: hidden;
}

.catalog-view {
	margin-bottom: 25px;
}

.game-thumbnail {
	width: 100%;
}

/*Maquetació*/

.float-right {
	float:right;
	padding-right: 15px;
}

.row {
	margin: 0 0 25px 0;
	width: 100%;
	clear: both;
}

.clearfix {
	clear: both;
}

.last-column {
	margin-right: 0;
}

.one-part{
	display: inline;
	float: left;
	margin-right: 1%;
	width: 7%;
}

.two-parts{
	display: inline;
	float: left;
	margin-right: 1%;
	width: 15%;
}

.three-parts{
	display: inline;
	float: left;
	margin-right: 0.5%;
	width: 24%;
}

.four-parts{
	display: inline;
	float: left;
	margin-right: 0.5%;
	width: 31%;
}

.five-parts{
	display: inline;
	float: left;
	margin-right: 1%;
	width: 41%;
}

.six-parts{
	display: inline;
	float: left;
	margin-right: 1%;
	width: 48%;
}

.seven-parts{
	display: inline;
	float: left;
	margin-right: 1%;
	width: 57%;
}

.eight-parts{
	display: inline;
	float: left;
	margin-right: 1%;
	width: 65%;
}

.nine-parts{
	display: inline;
	float: left;
	margin-right: 1%;
	width: 74%;
}

.ten-parts{
	display: inline;
	float: left;
	margin-right: 1%;
	width: 82%;
}

.eleven-parts{
	display: inline;
	float: left;
	margin-right: 1%;
	width: 90%;
}

.twelve-parts{
	display: inline;
	float: left;
	margin-right: 0;
	width: 100%;
}