/*TABLETS*/

@media screen and (max-width : 650px) {
	* {
		/*padding: 0!important;*/
	}
	.jumbotron, #anchor {
		display: none;
	}

	#menu-tablet, #outer-menu, #responsive-social {
		display: block;
	}

	.wrapper {
		width: 100%;
	}

	a .social-menu {
    	color: #E9DDB5;
	}

	.right {
		text-align: left;
	}
	.resp-fullwidth {
		width: 100%;
		margin-right: 0;
	}
	.catalog-view {
		width: 48%;
	}
}

/*MOBILE PHONES*/
@media screen and (max-width : 460px) {
	.catalog-view {
		width: 100%;
		margin-right: 0;
		text-align: center;
	}
}	